html{
    font-size: 62.5%;
}

body{
    display: flex;
    justify-content: space-between;
}

*{
    box-sizing: border-box;
    /* outline: 1px solid red; */
    font-family: sans-serif;
}

h2{
    font-size: 3.2rem;
}

form{
    margin: 14rem 0 20.5rem 13rem;
    padding: 1rem;
}

form button{
    width: 100%;
    padding: 1rem 10rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    border: 0px solid transparent;
    color: white;
    background-color: #4E4E4E;
}

label{
    font-size: 2rem;
}


.input-box *{
    display: block;
}

.input-box label{
    margin-bottom: 1rem;
}

.input-box input{
    width: 100%;
    padding: 1rem .25rem;
    border-radius: 1.25rem;
    border: .15rem solid rgb(170, 170, 170)
}

.input-box{
    margin-bottom: 3rem;
    font-size: 1.4rem;
}

.privacy-policy{
    margin-bottom: 2.5rem;
}

.privacy-policy label{
    font-size: 1.1rem;
}

.redirect-linkbox{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.redirect-linkbox *{
    display: inline-block;
}

.mapbox{
    height: 100vh;
    width: 63rem;
    background:linear-gradient( to right,rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.85)), 
               url('/img/map-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
}